.App{
  margin-left: 75vh;
  margin-top: 10vh;
  background-color:#FFFFFF;
  box-shadow: 1px 1px 1px 1px;
  width: 70vh;
  height: 70vh;
}
.App2{
  margin-left: 95vh;
  margin-top: 10vh;
}
h2{
  padding-left: 75px;
}

.welcome{
  font-size: 18px;
  padding-left: 75px;
  padding-top: 5vh;
}

.input1,.input2{
  width: 45vh;
  height: 5vh;
  border-radius: 5px;
  border: 2px solid ;
  
}
.btn{
  font-size: 18px;
  width: 46vh;
  height: 6vh;
  background-color: blue;
  border-radius: 5px;
  color: white;
}

.btn1{
  margin-top: 4vh;
  padding-left: 75px;
}
.forget{
  padding-left: 25vh;
  margin-top: 3vh;
  /* font-size: 1px; */
  
}
.email,.password{
  padding-left: 75px;
}